.images-row {
  display: flex;
  justify-content: center;
  gap: 40px; /* space between images */
  align-items: flex-start;
  margin-top: 30px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sim-image {
  width: 340px;   
  cursor: pointer;
  transition: transform 0.2s;
}

.sim-image:hover {
  transform: scale(1.05);
}

.sim-image.pumpkin {
  width: 270px;  
  margin-bottom: 60px; 
}

.image-caption {
  margin: 2px 0; 
}



